<div class="ui container">
  <div class="ui segment">
    <h1 class="ui header">
      <i class="plus circle icon"></i>
      Создание нового подразделения
    </h1>
    
    <% if params[:parent_id].present? && (parent_dept = Department.find_by(id: params[:parent_id])) %>
      <div class="ui info message">
        <i class="info circle icon"></i>
        Подразделение будет создано внутри: <strong><%= parent_dept.name %></strong>
      </div>
    <% else %>
      <div class="ui warning message">
        <i class="warning circle icon"></i>
        Создается корневое подразделение
      </div>
    <% end %>
  </div>

  <div class="ui segment">
    <%= render 'form', department: @department %>
  </div>
</div>

<script>
  // Инициализация dropdown Semantic UI
  $('.ui.dropdown').dropdown();
</script>